importing libraries

In [1]:
import pandas as pd 
import os

In [2]:
df = pd.read_csv('./Sales_Data/Sales_April_2019.csv')

In [24]:
files  = [file for file in os.listdir('./Sales_Data')]
all_month_data = pd.DataFrame()
for file in files:
    df = pd.read_csv('./Sales_Data/'+file)
    all_month_data = pd.concat([all_month_data, df])
all_month_data.to_csv('all_data.csv', index=False)

Read in updated dataFrame

In [28]:
all_data = pd.read_csv('all_data.csv')

In [30]:
# Augment data with additional columns

In [51]:

all_data = all_data.dropna(how= 'all')
nan_df = all_data[all_data.isna().any(axis=1)]
nan_df

In [53]:

all_data = all_data[all_data['Order Date'].str[0:2] != 'Or']
all_data
temp_df = all_data[all_data['Order Date'].str[0:2] == 'Or']
temp_df

In [59]:
all_data['Month'] = all_data['Order Date'].str[0:2]
all_data['Month'] = all_data['Month'].astype('int32')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,162009,iPhone,1,700,03/28/19 20:59,"942 Church St, Austin, TX 73301",3
1,162009,Lightning Charging Cable,1,14.95,03/28/19 20:59,"942 Church St, Austin, TX 73301",3
2,162009,Wired Headphones,2,11.99,03/28/19 20:59,"942 Church St, Austin, TX 73301",3
3,162010,Bose SoundSport Headphones,1,99.99,03/17/19 05:39,"261 10th St, San Francisco, CA 94016",3
4,162011,34in Ultrawide Monitor,1,379.99,03/10/19 00:01,"764 13th St, San Francisco, CA 94016",3

Q: What was the best month for sales? How much was earned that month?